[Unit]
Description=My app

[Service]
ExecStart=/var/www/mediaplayer/server.js
User=alex
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=development
WorkingDirectory=/home/alex/prog/MediaPlayer/

[Install]
WantedBy=multi-user.target
